    @font-face {
        font-family: 'Gotham Pro Regular';
        src: url('GothamPro.eot');
        src: url('GothamPro.eot?#iefix') format('embedded-opentype'), url('GothamPro.woff') format('woff'), url('GothamPro.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0A0B0D;
        font-family: 'Gotham Pro Regular';
    }
    
    .wrapper {
        position: relative;
        width: 1280px;
        box-sizing: border-box;
        background-color: #1C1C1E;
        padding: 72px 44px 43px;
        &__title {
            color: #fff;
            margin: 0 0 12px 20px;
            font-size: 32px;
            line-height: 31px;
        }
        &__slider {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &__item {
                position: relative;
                height: 357px;
                width: 357px !important;
                border-radius: 8px;
                box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.4);
                cursor: pointer;
                margin: 20px;
                &__title {
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    font-size: 24px;
                    width: 100%;
                    line-height: 130%;
                    height: 140px;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
                    border-radius: 8px;
                    &__text {
                        position: absolute;
                        bottom: 24px;
                        left: 24px;
                    }
                }
            }
            &__item.item-1 {
                background: url('/img/Fortnite.png') center;
                background-size: 635px 358px;
                background-position: 35% 75%;
            }
            &__item.item-2 {
                background: url('/img/lol.png');
                background-size: 605px 357px;
                background-position: 70% 75%;
            }
            &__item.item-3 {
                background: url('/img/pubg.png');
                background-size: 704px 482px;
                background-position: 35% 75%;
            }
            &__item.item-4 {
                background: url('/img/gta5.png');
                background-size: 592px 370px;
                background-position: 35% 75%;
            }
            &__item.item-5 {
                background: url('/img/overwatch.png');
                background-size: 636px 358px;
                background-position: 54% 75%;
            }
            &__item.item-6 {
                background: url('/img/apex.png');
                background-size: 680px 382px;
                background-position: 50% 75%;
            }
        }
        &__navigation {
            display: flex;
            justify-content: center;
            &__dots {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__btn-back:hover {
                .btn-back {
                    stroke: #F48E06;
                }
            }
            &__btn-forward:hover {
                .btn-forward {
                    stroke: #F48E06;
                }
            }
        }
    }
    
    @media screen and (max-width: 1297px) {
        .wrapper {
            width: 1108px;
            &__slider {
                &__item {
                    width: 300px !important;
                    height: 300px;
                }
                &__item.item-1 {
                    background-size: 556px 313px;
                    background-position: 35% 75%;
                }
                &__item.item-2 {
                    background-size: 521px 307px;
                    background-position: 50% 75%;
                }
                &__item.item-3 {
                    background-size: 582px 388px;
                    background-position: 37% 52%;
                }
                &__item.item-4 {
                    background-size: 482px 302px;
                    background-position: 35% 75%;
                }
                &__item.item-5 {
                    background-size: 636px 358px;
                    background-position: 57% 36%;
                }
                &__item.item-6 {
                    background-size: 680px 382px;
                    background-position: 50% 75%;
                }
            }
        }
    }
    
    @media screen and (max-width: 1117px) {
        .wrapper {
            width: 100vw;
            padding: 72px 5px 43px;
            &__title {
                margin-left: 56px;
            }
        }
    }
    
    @media screen and (max-width: 1024px) {
        .wrapper {
            width: 768px;
            padding-bottom: 77px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .wrapper {
            width: 680px;
            &__title {
                margin: 0 0 12px 20px;
            }
        }
    }
    
    @media screen and (max-width: 680px) {
        .wrapper {
            width: 100vw;
            &__title {
                margin: 0 0 12px 20px;
            }
            &__navigation {
                &__btn-back,
                &__btn-forward {
                    display: none;
                }
            }
        }
    }
    
    @media screen and (max-width: 450px) {
        .wrapper {
            &__slider {
                &__item {
                    width: 327px !important;
                    height: 327px;
                    margin-left: 8px;
                    margin-right: 8px;
                }
                &__item.item-1 {
                    background-size: 635px 358px;
                    background-position: 35% 45%;
                }
                &__item.item-2 {
                    background-size: 605px 357px;
                    background-position: 50% 16%;
                }
                &__item.item-4 {
                    background-size: 592px 370px;
                    background-position: 33% 23%;
                }
                &__navigation {
                    margin-top: 30px;
                }
            }
        }
    }
